# French Departmental/Regional Data

In [30]:
import pandas as pd

----
&nbsp;
## Creating new columns `department` & `region`

Compared to the UK France is considerably more ordered in terms of how she defines regions.

1. We extract the first two digits of the code postal from `address`. ie, 06, 78 etc
2. These digits represent a particular department
3. We arrogate these into regions

We search for the departments and regions of france on [Wikipedia](https://en.wikipedia.org/wiki/Departments_of_France) and scrape the data using pandas

In [31]:
url = 'https://en.wikipedia.org/wiki/Departments_of_France'
tables = pd.read_html(url)

In [32]:
# The table of interest is found by inspection
departments = tables[4]
departments.head()

,INSEE code,Arms 1,Date of establishment,Department,Capital,Region,Named after
0,01,NaN,26 February 1790,Ain,Bourg-en-Bresse,Auvergne-Rhône-Alpes,Ain (river)
1,02,NaN,26 February 1790,Aisne,Laon,Hauts-de-France,Aisne (river)
2,03,NaN,26 February 1790,Allier,Moulins,Auvergne-Rhône-Alpes,Allier (river)
3,04,NaN,26 February 1790,Alpes-de-Haute-Provence 2,Digne-les-Bains,Provence-Alpes-Côte d'Azur,Alps mountains and Provence region
4,05,NaN,26 February 1790,Hautes-Alpes,Gap,Provence-Alpes-Côte d'Azur,Alps mountains

In [33]:
print(departments.columns.tolist())

['INSEE code', 'Arms 1', 'Date of establishment', 'Department', 'Capital', 'Region', 'Named after']

In [34]:
# Drop specified columns from the DataFrame
departments = departments.drop(columns=['Arms 1', 'Date of establishment', 'Named after'])

# Rename the column 'INSEE code' to 'department_num'
departments = departments.rename(columns={'INSEE code': 'department_num'})

# Convert all column names in the DataFrame to lowercase
departments.columns = departments.columns.str.lower()

# Replace the trailing numbers in the 'department' and 'capital columns with an empty string and remove whitespace
departments['department'] = departments['department'].str.replace(r'\s*\d+$', '', regex=True)
departments['capital'] = departments['capital'].str.replace(r'\s*\d+$', '', regex=True)

In [35]:
# Display the last 10 rows of the DataFrame
departments.tail(10)

    department_num         department         capital         region
92              91            Essonne            Évry  Île-de-France
93              92     Hauts-de-Seine        Nanterre  Île-de-France
94              93  Seine-Saint-Denis         Bobigny  Île-de-France
95              94       Val-de-Marne         Créteil  Île-de-France
96              95         Val-d'Oise        Pontoise  Île-de-France
97             971         Guadeloupe     Basse-Terre     Guadeloupe
98             972         Martinique  Fort-de-France     Martinique
99             973             Guyane         Cayenne  French Guiana
100            974         La Réunion     Saint-Denis        Réunion
101            976            Mayotte       Mamoudzou        Mayotte

The last five entries are overseas departments

In [36]:
departments = departments.copy()

# Remove the last 5 entries from the DataFrame
departments = departments.iloc[:-5]

In `departments` there is some ambiguity with the naming of department 69. We search `france_data` for department 69

In [37]:
rhone = departments[departments['department_num'].str.startswith('69')]
rhone

   department_num       department             capital                region
69            69D            Rhône  Lyon (provisional)  Auvergne-Rhône-Alpes
70            69M  Lyon Metropolis                Lyon  Auvergne-Rhône-Alpes

We will change department 69_ to 69 Rhône

In [38]:
# Identify rows with department number '69D' or '69M'
rows_to_update = departments['department_num'].isin(['69D', '69M'])

# Update department name and department number for these rows
departments.loc[rows_to_update, 'department'] = 'Rhône'
departments.loc[rows_to_update, 'department_num'] = '69'
departments.loc[rows_to_update, 'capital'] = 'Lyon'

# Drop the specified index
departments = departments.drop(departments.index[69])

We export `departments` as a .csv file to merge with `france_data`

In [39]:
# Export the data to a csv file
departments.to_csv('../../../../ExtraData/Demographics/demographics.csv', index=False)

In [40]:
departments.tail(3)

   department_num         department   capital         region
94             93  Seine-Saint-Denis   Bobigny  Île-de-France
95             94       Val-de-Marne   Créteil  Île-de-France
96             95         Val-d'Oise  Pontoise  Île-de-France

----
&nbsp;
## *Statistiques locales* by department. [INSEE](https://www.insee.fr/fr/statistiques/6013867) 2020

In [41]:
stats_locale = pd.read_csv("../../../../ExtraData/Demographics/stats_locales.csv", sep=';')
stats_locale.head()

,Code,Libellé,Taux de pauvreté 2020,Taux de chômage annuel moyen 2020,Salaire net horaire moyen 2020,Population municipale 2020,Densité de population (historique depuis 1876) 2020,Nb de pers. non scolarisées de 15 ans ou + 2020
0,01,Ain,10.5,5.5,15.34,657856,114.2,480283
1,02,Aisne,18.0,10.5,13.92,529374,71.9,394221
2,03,Allier,15.3,7.7,13.63,335628,45.7,263472
3,04,Alpes-de-Haute-Provence,16.6,8.2,14.15,165451,23.9,129106
4,05,Hautes-Alpes,13.9,6.9,13.54,140605,25.3,109699

In [42]:
stats_locale.columns.tolist()

['Code',
 'Libellé',
 'Taux de pauvreté 2020',
 'Taux de chômage annuel moyen 2020',
 'Salaire net horaire moyen 2020',
 'Population municipale 2020',
 'Densité de population (historique depuis 1876) 2020',
 'Nb de pers. non scolarisées de 15 ans ou + 2020']

In [43]:
stats_locale = stats_locale.rename(columns={
    'Code': 'department_num',
    'Libellé': 'department',
    'Taux de pauvreté 2020': 'poverty_rate(%)',
    'Taux de chômage annuel moyen 2020': 'average_annual_unemployment_rate(%)',
    'Salaire net horaire moyen 2020': 'average_net_hourly_wage(€)',
    'Population municipale 2020': 'municipal_population',
    'Densité de population (historique depuis 1876) 2020': 'population_density(inhabitants/sq_km)',
    'Nb de pers. non scolarisées de 15 ans ou + 2020': 'non_schooled_persons_15_and_over'
})

In [44]:
stats_locale.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 8 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   department_num                         101 non-null    object
 1   department                             101 non-null    object
 2   poverty_rate(%)                        101 non-null    float64
 3   average_annual_unemployment_rate(%)    101 non-null    object
 4   average_net_hourly_wage(€)             101 non-null    object
 5   municipal_population                   101 non-null    object
 6   population_density(inhabitants/sq_km)  101 non-null    object
 7   non_schooled_persons_15_and_over       101 non-null    object
dtypes: float64(1), object(7)
memory usage: 6.4+ KB

In [45]:
# Remove leading and trailing whitespace for all string columns
stats_locale = stats_locale.apply(lambda col: col.str.strip() if col.dtype == "object" else col)

In [46]:
# Define columns to be converted to numeric type
numeric_cols = ['average_annual_unemployment_rate(%)',
                'average_net_hourly_wage(€)',
                'municipal_population',
                'population_density(inhabitants/sq_km)',
                'non_schooled_persons_15_and_over']

# Convert the columns to numeric, setting any errors to NaN
for col in numeric_cols:
    stats_locale[col] = pd.to_numeric(stats_locale[col], errors='coerce')

In [47]:
# Check if there are any NaN values in the DataFrame
nan_values = stats_locale.isnull().sum()
print(nan_values[nan_values > 0])

average_annual_unemployment_rate(%)      1
average_net_hourly_wage(€)               1
municipal_population                     1
population_density(inhabitants/sq_km)    1
non_schooled_persons_15_and_over         1
dtype: int64

In [48]:
# Return that row of data
nan_rows = stats_locale[stats_locale.isna().any(axis=1)]
nan_rows

,department_num,department,poverty_rate(%),average_annual_unemployment_rate(%),average_net_hourly_wage(€),municipal_population,population_density(inhabitants/sq_km),non_schooled_persons_15_and_over
100,976,Mayotte,77.3,NaN,NaN,NaN,NaN,NaN

*`Mayotte`* is an overseas department which will be removed from the dataset as we are focusing our analysis on mainland France

In [49]:
stats_locale.tail(10)

,department_num,department,poverty_rate(%),average_annual_unemployment_rate(%),average_net_hourly_wage(€),municipal_population,population_density(inhabitants/sq_km),non_schooled_persons_15_and_over
91,91,Essonne,13.2,6.4,17.85,1306118.0,723.9,906036.0
92,92,Hauts-de-Seine,11.9,5.9,26.02,1626213.0,9260.4,1141945.0
93,93,Seine-Saint-Denis,27.6,10.2,14.98,1655422.0,7008.6,1112210.0
94,94,Val-de-Marne,16.6,7.1,18.86,1407972.0,5746.1,978399.0
95,95,Val-d'Oise,17.0,8.0,17.03,1251804.0,1004.7,852868.0
96,971,Guadeloupe,34.5,18.6,14.93,383559.0,235.5,283923.0
97,972,Martinique,26.7,12.5,14.69,361225.0,320.2,275923.0
98,973,Guyane,52.9,13.1,15.10,285133.0,3.4,164254.0
99,974,La Réunion,35.6,18.1,13.79,863083.0,344.7,594394.0
100,976,Mayotte,77.3,NaN,NaN,NaN,NaN,NaN

We remove the overseas departments

In [50]:
# Remove the last 5 entries from the DataFrame (Overseas territories)
stats_locale = stats_locale.iloc[:-5]
print(f"Shape of stats_locale: {stats_locale.shape}")

Shape of stats_locale: (96, 8)

There's a discrepancy in the population density data sourced from INSEE. The population density of [Paris](https://en.wikipedia.org/wiki/List_of_French_departments_by_population) is 20,454 inhabitants/sq_km

In [51]:
paris = stats_locale[stats_locale['department'] == 'Paris']
paris

,department_num,department,poverty_rate(%),average_annual_unemployment_rate(%),average_net_hourly_wage(€),municipal_population,population_density(inhabitants/sq_km),non_schooled_persons_15_and_over
75,75,Paris,15.4,5.7,27.14,2145906.0,10179.8,1563175.0

In [52]:
stats_locale.loc[stats_locale['department'] == 'Paris', 'population_density(inhabitants/sq_km)'] = 20454

We need to extrapolate `area(sq_km)` from population density and population

In [53]:
stats_locale['area(sq_km)'] = round(stats_locale['municipal_population'] /
                                                           stats_locale['population_density(inhabitants/sq_km)'], 2)

In [54]:
stats_locale.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 9 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   department_num                         96 non-null     object
 1   department                             96 non-null     object
 2   poverty_rate(%)                        96 non-null     float64
 3   average_annual_unemployment_rate(%)    96 non-null     float64
 4   average_net_hourly_wage(€)             96 non-null     float64
 5   municipal_population                   96 non-null     float64
 6   population_density(inhabitants/sq_km)  96 non-null     float64
 7   non_schooled_persons_15_and_over       96 non-null     float64
 8   area(sq_km)                            96 non-null     float64
dtypes: float64(7), object(2)
memory usage: 6.9+ KB

----
&nbsp;
## GDP by Department. [OECD](https://stats.oecd.org) 2001 - 2020

This data is not as clean as the other two sources

In [56]:
gdp = pd.read_csv("../../../../ExtraData/Demographics/GDP_departmental.csv")
gdp.head(5)

,Year,Unnamed: 1,Unnamed: 2,2001,2002,2003,2004,2005,2006,2007,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,FR101: Paris,"Euro, Millions",NaN,160 406,161 712,162 368,165 582,172 171,175 198,186 771,...,199 526,204 857,207 534,210 141,214 434,219 964,227 457,237 283,246 937,226 007
1,FR102: Seine-et-Marne,"Euro, Millions",NaN,24 721.5,26 879.9,27 856.6,29 283.9,29 903.1,31 814.7,33 695.6,...,37 628.4,39 139.3,38 546.3,39 244.3,39 934.5,40 635.8,41 513.1,41 968.7,44 271.8,39 478.1
2,FR103: Yvelines,"Euro, Millions",NaN,41 113.9,42 180.8,42 832.7,43 728.5,45 595.8,47 101.2,50 043.1,...,53 645.1,53 823.9,55 041.9,54 497.6,56 771.4,57 769.3,58 659.2,59 728.3,61 249,56 649.9
3,FR104: Essonne,"Euro, Millions",NaN,31 959,33 611.8,35 251,36 274.2,36 045.8,38 293.5,40 579.4,...,42 610.7,43 857.9,47 425.1,47 993.2,49 173.1,50 072.2,52 010.1,53 586.7,55 491.7,53 821.9
4,FR105: Hauts-de-Seine,"Euro, Millions",NaN,99 819.9,105 194,106 868,111 508,118 961,123 114,131 837,...,147 676,151 710,156 217,157 950,159 861,164 572,168 693,177 044,188 096,176 675

Values are in millions of Euros. We lose the two 'Unnamed' columns

In [57]:
# We loose the 'Unnamed' columns
gdp = gdp[[col for col in gdp.columns if 'Unnamed' not in col]]

In [58]:
gdp.head(3)

,Year,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,FR101: Paris,160 406,161 712,162 368,165 582,172 171,175 198,186 771,189 261,182 178,...,199 526,204 857,207 534,210 141,214 434,219 964,227 457,237 283,246 937,226 007
1,FR102: Seine-et-Marne,24 721.5,26 879.9,27 856.6,29 283.9,29 903.1,31 814.7,33 695.6,35 794.1,35 378.1,...,37 628.4,39 139.3,38 546.3,39 244.3,39 934.5,40 635.8,41 513.1,41 968.7,44 271.8,39 478.1
2,FR103: Yvelines,41 113.9,42 180.8,42 832.7,43 728.5,45 595.8,47 101.2,50 043.1,52 799.2,50 204.9,...,53 645.1,53 823.9,55 041.9,54 497.6,56 771.4,57 769.3,58 659.2,59 728.3,61 249,56 649.9

We need to strip the non-breaking space in the numerical data.

In [59]:
def strip_nbsp(cell):
    if isinstance(cell, str):
        return cell.replace('\xa0', '')
    return cell

In [60]:
gdp = gdp.applymap(strip_nbsp)

If a column represent a year then it contains numeric data

In [61]:
for col in gdp.columns:
    if col.isdigit():  # Check if the column name is a year (4-digit number)
        gdp[col] = gdp[col].astype(float)  # Convert to float

In [62]:
# Only the most recent year is required
gdp = gdp[['Year', '2020']]
gdp = gdp.rename(columns={'Year': 'department', '2020': 'GDP_millions(€)'})

In [63]:
gdp.tail(10)

                  department  GDP_millions(€)
91   FRL04: Bouches-du-Rhône         73878.70
92                FRL05: Var         27056.50
93           FRL06: Vaucluse         17880.20
94       FRM01: Corse-du-Sud          4783.90
95        FRM02: Haute-Corse          4300.08
96         FRY10: Guadeloupe          9219.30
97         FRY20: Martinique          8788.07
98      FRY30: French Guiana          4424.65
99         FRY40: La Réunion         18973.00
100           FRY50: Mayotte          2711.64

Overseas departments occupy the last five rows and can be dropped

In [64]:
gdp = gdp.iloc[:-5]
print(f"Shape of GDP: {gdp.shape}")

Shape of GDP: (96, 2)

In [65]:
# Remove the initial part of the string ending with a colon followed by whitespace
gdp['department'] = gdp['department'].str.replace(r'^[^:]+:\s*', '', regex=True)

In [66]:
gdp.head()

       department  GDP_millions(€)
0           Paris         226007.0
1  Seine-et-Marne          39478.1
2        Yvelines          56649.9
3         Essonne          53821.9
4  Hauts-de-Seine         176675.0

----
&nbsp;
### Merging `departments`, `stats_locale` & `gdp`

We aim to sort all DataFrames on `department_num` and therefore merge `gdp` with `departments` first.

In [67]:
# We check unique values
set1 = set(departments['department'].unique())
set2 = set(gdp['department'].unique())
print(set1 == set2)  # This should print True if all sets are equal

True

In [68]:
gdp_departments = departments.merge(gdp, on='department', how='inner')

We now merge with `stats_locale`

In [69]:
# We sort all dfs on 'department_num'
gdp_departments = gdp_departments.sort_values('department_num')
stats_locale = stats_locale.sort_values('department_num')

We check if the name `department` is equal in the two dataframes

In [70]:
set1 = set(gdp_departments['department'].unique())
set2 = set(stats_locale['department'].unique())
print(set1 == set2)

True

In [71]:
from functools import reduce

# List of dataframes to merge
dfs = [gdp_departments, stats_locale]

# Use reduce and merge to merge both dataframes
demographics = reduce(lambda left,right: pd.merge(left,right,on=['department', 'department_num']), dfs)

Will drop `non_schooled_persons_15_and_over` as I feel it's the weakest statistic

In [72]:
demographics = demographics.drop(columns="non_schooled_persons_15_and_over")
demographics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 96 entries, 0 to 95
Data columns (total 11 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   department_num                         96 non-null     object
 1   department                             96 non-null     object
 2   capital                                96 non-null     object
 3   region                                 96 non-null     object
 4   GDP_millions(€)                        96 non-null     float64
 5   poverty_rate(%)                        96 non-null     float64
 6   average_annual_unemployment_rate(%)    96 non-null     float64
 7   average_net_hourly_wage(€)             96 non-null     float64
 8   municipal_population                   96 non-null     float64
 9   population_density(inhabitants/sq_km)  96 non-null     float64
 10  area(sq_km)                            96 non-null     float64
dtypes: float64(7), object(4)
memory usage: 9.0+ KB

We will calculate `GDP_per_capita(€)` as it's a more meaningful statistic for comparison

In [73]:
demographics['GDP_per_capita(€)'] = round((demographics['GDP_millions(€)'] * 1e6) / demographics['municipal_population'], 2)

In [74]:
print(demographics.columns.tolist())

['department_num', 'department', 'capital', 'region', 'GDP_millions(€)', 'poverty_rate(%)', 'average_annual_unemployment_rate(%)', 'average_net_hourly_wage(€)', 'municipal_population', 'population_density(inhabitants/sq_km)', 'area(sq_km)', 'GDP_per_capita(€)']

In [75]:
# Reorder the columns
new_order = ['department_num', 'department', 'capital', 'region', 'GDP_millions(€)', 'GDP_per_capita(€)',
             'poverty_rate(%)', 'average_annual_unemployment_rate(%)', 'average_net_hourly_wage(€)',
             'municipal_population', 'population_density(inhabitants/sq_km)', 'area(sq_km)']

In [76]:
demographics = demographics[new_order]

In [77]:
demographics.head()

,department_num,department,capital,region,GDP_millions(€),GDP_per_capita(€),poverty_rate(%),average_annual_unemployment_rate(%),average_net_hourly_wage(€),municipal_population,population_density(inhabitants/sq_km),area(sq_km)
0,01,Ain,Bourg-en-Bresse,Auvergne-Rhône-Alpes,16726.40,25425.63,10.5,5.5,15.34,657856.0,114.2,5760.56
1,02,Aisne,Laon,Hauts-de-France,12016.40,22699.26,18.0,10.5,13.92,529374.0,71.9,7362.64
2,03,Allier,Moulins,Auvergne-Rhône-Alpes,8278.98,24667.13,15.3,7.7,13.63,335628.0,45.7,7344.16
3,04,Alpes-de-Haute-Provence,Digne-les-Bains,Provence-Alpes-Côte d'Azur,4154.79,25111.91,16.6,8.2,14.15,165451.0,23.9,6922.64
4,05,Hautes-Alpes,Gap,Provence-Alpes-Côte d'Azur,3756.22,26714.70,13.9,6.9,13.54,140605.0,25.3,5557.51

The `demographics` data can now be exported

In [78]:
# Export the data to a csv file
demographics.to_csv('../../../../ExtraData/Demographics/demographics.csv', index=False)